In [1]:
import pandas as pd

In [2]:
best_over = pd.read_csv(r'C:\Users\redye\Desktop\NBACrit\best_over.csv')

In [3]:
best_over

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Intertops,180,223.0,-110.0,-110.0,210.0
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0.300,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,Pinnacle Sports,238,216.5,-107.0,-103.0,193.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0

In [4]:
index_to_drop = best_over[best_over['total1'] == 141.5].index

# Drop the rows with the specified index
best_over = best_over.drop(index_to_drop)
best_over

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Intertops,180,223.0,-110.0,-110.0,210.0
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0.300,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,Pinnacle Sports,238,216.5,-107.0,-103.0,193.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0

In [5]:
def convert_to_decimal(odds):
    return (odds / 100) + 1 if odds >= 100 else (100 / abs(odds) + 1)

# Apply the conversion function to the 'over' column and create a new 'decimal_over' column
best_over['decimal_over'] = best_over['over'].apply(convert_to_decimal)
best_over

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,decimal_over
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,1.793651
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,Intertops,180,223.0,-110.0,-110.0,210.0,1.909091
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0,1.909091
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0,1.909091
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0,1.909091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,27.0,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0,1.884956
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,27.0,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0,1.952381
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,27.0,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0,1.952381
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,25.0,44.0,0,Pinnacle Sports,238,216.5,-107.0,-103.0,193.0,1.934579
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,25.0,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0,1.952381

In [6]:
best_over = best_over.sort_values(by='decimal_over', ascending=False)
best_over

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,decimal_over
3080,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,21.0,32.0,1,Pinnacle Sports,238,196.0,109.0,-120.0,208.0,2.090000
2317,2018-03-06,21700958,1610612761,1610612737,2017,106.0,0.386,0.848,0.278,25.0,...,22.0,44.0,1,Pinnacle Sports,238,217.0,106.0,-117.0,196.0,2.060000
2729,2018-03-27,21701115,1610612746,1610612749,2017,105.0,0.465,0.556,0.536,23.0,...,24.0,44.0,1,BetOnline,1096,227.0,105.0,-125.0,203.0,2.050000
3076,2018-04-26,41700116,1610612749,1610612738,2017,97.0,0.507,0.619,0.308,19.0,...,18.0,39.0,1,Pinnacle Sports,238,201.5,105.0,-116.0,183.0,2.050000
2623,2018-03-22,21701072,1610612766,1610612763,2017,140.0,0.533,0.852,0.475,25.0,...,13.0,38.0,1,Pinnacle Sports,238,214.5,105.0,-116.0,219.0,2.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,2018-04-17,41700162,1610612757,1610612740,2017,102.0,0.451,0.800,0.375,20.0,...,25.0,43.0,0,BetOnline,1096,215.5,-122.0,102.0,213.0,1.819672
103,2017-11-05,21700144,1610612757,1610612760,2017,103.0,0.500,0.786,0.350,20.0,...,17.0,32.0,1,BetOnline,1096,211.0,-125.0,105.0,202.0,1.800000
428,2017-11-22,21700264,1610612756,1610612749,2017,107.0,0.398,0.788,0.318,15.0,...,19.0,42.0,0,Bookmaker,93,218.5,-126.0,104.0,220.0,1.793651
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,1.793651
1679,2018-01-28,21700737,1610612759,1610612758,2017,113.0,0.500,0.706,0.440,33.0,...,21.0,34.0,1,BetOnline,1096,196.5,-129.0,109.0,211.0,1.775194

In [7]:
first_values = best_over.groupby('game_id')['total1'].transform('first')
best_over['difference'] = (best_over['total1'] - first_values)*2

best_over

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,decimal_over,difference
3080,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,32.0,1,Pinnacle Sports,238,196.0,109.0,-120.0,208.0,2.090000,0.0
2317,2018-03-06,21700958,1610612761,1610612737,2017,106.0,0.386,0.848,0.278,25.0,...,44.0,1,Pinnacle Sports,238,217.0,106.0,-117.0,196.0,2.060000,0.0
2729,2018-03-27,21701115,1610612746,1610612749,2017,105.0,0.465,0.556,0.536,23.0,...,44.0,1,BetOnline,1096,227.0,105.0,-125.0,203.0,2.050000,0.0
3076,2018-04-26,41700116,1610612749,1610612738,2017,97.0,0.507,0.619,0.308,19.0,...,39.0,1,Pinnacle Sports,238,201.5,105.0,-116.0,183.0,2.050000,0.0
2623,2018-03-22,21701072,1610612766,1610612763,2017,140.0,0.533,0.852,0.475,25.0,...,38.0,1,Pinnacle Sports,238,214.5,105.0,-116.0,219.0,2.050000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,2018-04-17,41700162,1610612757,1610612740,2017,102.0,0.451,0.800,0.375,20.0,...,43.0,0,BetOnline,1096,215.5,-122.0,102.0,213.0,1.819672,-3.0
103,2017-11-05,21700144,1610612757,1610612760,2017,103.0,0.500,0.786,0.350,20.0,...,32.0,1,BetOnline,1096,211.0,-125.0,105.0,202.0,1.800000,-2.0
428,2017-11-22,21700264,1610612756,1610612749,2017,107.0,0.398,0.788,0.318,15.0,...,42.0,0,Bookmaker,93,218.5,-126.0,104.0,220.0,1.793651,-1.0
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,1.793651,-3.0
1679,2018-01-28,21700737,1610612759,1610612758,2017,113.0,0.500,0.706,0.440,33.0,...,34.0,1,BetOnline,1096,196.5,-129.0,109.0,211.0,1.775194,-2.0

In [8]:

# Function to calculate the compound factor based on the difference
def calculate_compound_factor(difference):
    return (1 + 0.022) ** difference

# Calculate the difference with respect to the first value of "total_1" for each "game_id"
first_values = best_over.groupby('game_id')['total1'].transform('first')

# Calculate the compound factor and create a new column "difference2"
best_over['difference2'] = calculate_compound_factor(best_over['difference'])

In [9]:
#subtract d2 from over and make new column for comparing lines on equal footing
best_over['equal_lines'] = best_over['decimal_over'] / best_over['difference2']
best_over

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,book_name,book_id,total1,over,under,PTS_comb_actual,decimal_over,difference,difference2,equal_lines
3080,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,Pinnacle Sports,238,196.0,109.0,-120.0,208.0,2.090000,0.0,1.000000,2.090000
2317,2018-03-06,21700958,1610612761,1610612737,2017,106.0,0.386,0.848,0.278,25.0,...,Pinnacle Sports,238,217.0,106.0,-117.0,196.0,2.060000,0.0,1.000000,2.060000
2729,2018-03-27,21701115,1610612746,1610612749,2017,105.0,0.465,0.556,0.536,23.0,...,BetOnline,1096,227.0,105.0,-125.0,203.0,2.050000,0.0,1.000000,2.050000
3076,2018-04-26,41700116,1610612749,1610612738,2017,97.0,0.507,0.619,0.308,19.0,...,Pinnacle Sports,238,201.5,105.0,-116.0,183.0,2.050000,0.0,1.000000,2.050000
2623,2018-03-22,21701072,1610612766,1610612763,2017,140.0,0.533,0.852,0.475,25.0,...,Pinnacle Sports,238,214.5,105.0,-116.0,219.0,2.050000,0.0,1.000000,2.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,2018-04-17,41700162,1610612757,1610612740,2017,102.0,0.451,0.800,0.375,20.0,...,BetOnline,1096,215.5,-122.0,102.0,213.0,1.819672,-3.0,0.936801,1.942432
103,2017-11-05,21700144,1610612757,1610612760,2017,103.0,0.500,0.786,0.350,20.0,...,BetOnline,1096,211.0,-125.0,105.0,202.0,1.800000,-2.0,0.957411,1.880071
428,2017-11-22,21700264,1610612756,1610612749,2017,107.0,0.398,0.788,0.318,15.0,...,Bookmaker,93,218.5,-126.0,104.0,220.0,1.793651,-1.0,0.978474,1.833111
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,1.793651,-3.0,0.936801,1.914655
1679,2018-01-28,21700737,1610612759,1610612758,2017,113.0,0.500,0.706,0.440,33.0,...,BetOnline,1096,196.5,-129.0,109.0,211.0,1.775194,-2.0,0.957411,1.854162

In [10]:
max_equal_lines = best_over.groupby('game_id')['equal_lines'].transform('max')

# Filter the DataFrame to keep only the rows with the maximum value in the "equal_lines" column for each "game_id"
overs = best_over[best_over['equal_lines'] == max_equal_lines]

overs

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,book_name,book_id,total1,over,under,PTS_comb_actual,decimal_over,difference,difference2,equal_lines
3080,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,Pinnacle Sports,238,196.0,109.0,-120.0,208.0,2.090000,0.0,1.000000,2.090000
2317,2018-03-06,21700958,1610612761,1610612737,2017,106.0,0.386,0.848,0.278,25.0,...,Pinnacle Sports,238,217.0,106.0,-117.0,196.0,2.060000,0.0,1.000000,2.060000
2729,2018-03-27,21701115,1610612746,1610612749,2017,105.0,0.465,0.556,0.536,23.0,...,BetOnline,1096,227.0,105.0,-125.0,203.0,2.050000,0.0,1.000000,2.050000
3076,2018-04-26,41700116,1610612749,1610612738,2017,97.0,0.507,0.619,0.308,19.0,...,Pinnacle Sports,238,201.5,105.0,-116.0,183.0,2.050000,0.0,1.000000,2.050000
2623,2018-03-22,21701072,1610612766,1610612763,2017,140.0,0.533,0.852,0.475,25.0,...,Pinnacle Sports,238,214.5,105.0,-116.0,219.0,2.050000,0.0,1.000000,2.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,2017-11-11,21700178,1610612740,1610612746,2017,111.0,0.538,0.792,0.375,26.0,...,Bovada,999996,217.0,-115.0,-105.0,214.0,1.869565,-3.0,0.936801,1.995691
1242,2018-01-05,21700573,1610612759,1610612756,2017,103.0,0.471,0.556,0.367,21.0,...,Bovada,999996,209.0,-115.0,-105.0,192.0,1.869565,-2.0,0.957411,1.952731
1109,2017-12-29,21700521,1610612764,1610612745,2017,121.0,0.534,0.750,0.500,23.0,...,Bovada,999996,223.0,-115.0,-105.0,224.0,1.869565,-4.0,0.916635,2.039596
1771,2018-02-02,21700771,1610612749,1610612752,2017,92.0,0.434,0.731,0.292,18.0,...,Bovada,999996,207.0,-115.0,-105.0,182.0,1.869565,-4.0,0.916635,2.039596
2997,2018-04-10,21701214,1610612737,1610612755,2017,113.0,0.418,0.692,0.351,27.0,...,Bovada,999996,220.0,-115.0,-105.0,234.0,1.869565,-3.0,0.936801,1.995691

In [11]:
overs = overs.sort_values(by='equal_lines', ascending=False)
overs

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,book_name,book_id,total1,over,under,PTS_comb_actual,decimal_over,difference,difference2,equal_lines
2851,2018-04-03,21701161,1610612745,1610612764,2017,120.0,0.512,0.667,0.348,26.0,...,BetOnline,1096,214.0,-110.0,-110.0,224.0,1.909091,-6.0,0.877596,2.175364
2286,2018-03-05,21700950,1610612739,1610612765,2017,112.0,0.489,0.824,0.364,29.0,...,Pinnacle Sports,238,219.0,-105.0,-105.0,202.0,1.952381,-4.0,0.916635,2.129944
1257,2018-01-06,21700579,1610612751,1610612738,2017,85.0,0.330,0.864,0.194,11.0,...,YouWager,139,205.0,-110.0,-110.0,172.0,1.909091,-5.0,0.896903,2.128536
3080,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,Pinnacle Sports,238,196.0,109.0,-120.0,208.0,2.090000,0.0,1.000000,2.090000
2345,2018-03-07,21700970,1610612743,1610612739,2017,108.0,0.488,0.778,0.370,22.0,...,Pinnacle Sports,238,228.5,-105.0,-105.0,221.0,1.952381,-3.0,0.936801,2.084094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383,2018-01-13,21700629,1610612766,1610612760,2017,91.0,0.398,0.696,0.321,16.0,...,Heritage,169,212.0,-105.0,-105.0,192.0,1.952381,0.0,1.000000,1.952381
651,2017-12-04,21700347,1610612742,1610612743,2017,122.0,0.570,0.706,0.462,26.0,...,Heritage,169,209.0,-105.0,-105.0,227.0,1.952381,0.0,1.000000,1.952381
2091,2018-02-23,21700879,1610612740,1610612748,2017,124.0,0.444,0.833,0.258,27.0,...,5Dimes,19,215.5,-105.0,-105.0,247.0,1.952381,0.0,1.000000,1.952381
2421,2018-03-11,21700999,1610612751,1610612755,2017,97.0,0.388,0.875,0.357,17.0,...,Heritage,169,219.0,-105.0,-105.0,217.0,1.952381,0.0,1.000000,1.952381
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0,1.909091,0.0,1.000000,1.909091

In [12]:
columns_to_drop = ['difference', 'difference2', 'equal_lines', 'under', 'decimal_over']
overs = overs.drop(columns_to_drop, axis=1)
overs

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,PTS_comb_actual
2851,2018-04-03,21701161,1610612745,1610612764,2017,120.0,0.512,0.667,0.348,26.0,...,0.696,0.480,25.0,36.0,1,BetOnline,1096,214.0,-110.0,224.0
2286,2018-03-05,21700950,1610612739,1610612765,2017,112.0,0.489,0.824,0.364,29.0,...,0.667,0.353,17.0,40.0,1,Pinnacle Sports,238,219.0,-105.0,202.0
1257,2018-01-06,21700579,1610612751,1610612738,2017,85.0,0.330,0.864,0.194,11.0,...,0.533,0.278,12.0,44.0,0,YouWager,139,205.0,-110.0,172.0
3080,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,0.944,0.333,21.0,32.0,1,Pinnacle Sports,238,196.0,109.0,208.0
2345,2018-03-07,21700970,1610612743,1610612739,2017,108.0,0.488,0.778,0.370,22.0,...,0.667,0.448,25.0,35.0,0,Pinnacle Sports,238,228.5,-105.0,221.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383,2018-01-13,21700629,1610612766,1610612760,2017,91.0,0.398,0.696,0.321,16.0,...,0.750,0.308,17.0,57.0,0,Heritage,169,212.0,-105.0,192.0
651,2017-12-04,21700347,1610612742,1610612743,2017,122.0,0.570,0.706,0.462,26.0,...,0.652,0.389,25.0,49.0,1,Heritage,169,209.0,-105.0,227.0
2091,2018-02-23,21700879,1610612740,1610612748,2017,124.0,0.444,0.833,0.258,27.0,...,0.654,0.333,26.0,58.0,1,5Dimes,19,215.5,-105.0,247.0
2421,2018-03-11,21700999,1610612751,1610612755,2017,97.0,0.388,0.875,0.357,17.0,...,0.611,0.346,33.0,48.0,0,Heritage,169,219.0,-105.0,217.0
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0.800,0.300,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,207.0

In [13]:
overs = overs.sort_values(by='game_id', ascending=False)
overs

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,PTS_comb_actual
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,1.000,0.368,25.0,44.0,0,Pinnacle Sports,238,216.5,-107.0,193.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.895,0.346,27.0,37.0,0,5Dimes,19,216.0,-105.0,212.0
3263,2018-06-03,41700402,1610612744,1610612739,2017,122.0,0.573,0.619,0.417,28.0,...,0.769,0.333,25.0,42.0,1,Pinnacle Sports,238,216.5,103.0,225.0
3259,2018-05-31,41700401,1610612744,1610612739,2017,124.0,0.511,0.950,0.361,31.0,...,0.727,0.270,18.0,53.0,1,Bovada,999996,217.0,-110.0,238.0
3256,2018-05-28,41700317,1610612745,1610612744,2017,92.0,0.400,0.591,0.159,17.0,...,0.500,0.410,25.0,42.0,0,5Dimes,19,208.0,-105.0,193.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14,2017-11-01,21700107,1610612755,1610612737,2017,119.0,0.465,0.560,0.371,36.0,...,0.704,0.348,22.0,49.0,1,Pinnacle Sports,238,209.0,-104.0,228.0
11,2017-11-01,21700106,1610612739,1610612754,2017,107.0,0.500,0.700,0.226,25.0,...,0.769,0.615,35.0,43.0,0,5Dimes,19,217.5,-105.0,231.0
9,2017-11-01,21700105,1610612766,1610612749,2017,126.0,0.536,0.759,0.560,21.0,...,0.800,0.528,29.0,40.0,1,Heritage,169,203.0,-105.0,247.0
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0.800,0.300,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,207.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.676,0.464,23.0,49.0,0,Intertops,180,223.0,-110.0,210.0

In [14]:
best_under = pd.read_csv(r'C:\Users\redye\Desktop\NBACrit\best_under.csv')
best_under

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,BetOnline,1096,223.0,-117.0,-103.0,210.0
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0.300,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,5Dimes,19,216.5,-108.0,-102.0,193.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0

In [15]:
index_to_drop = best_under[best_under['total1'] == 141.5].index

# Drop the rows with the specified index
best_under = best_under.drop(index_to_drop)
best_under

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,BetOnline,1096,223.0,-117.0,-103.0,210.0
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0.300,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,5Dimes,19,216.5,-108.0,-102.0,193.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0

In [16]:
def convert_to_decimal(odds):
    return (odds / 100) + 1 if odds >= 100 else (100 / abs(odds) + 1)

# Apply the conversion function to the 'over' column and create a new 'decimal_over' column
best_under['decimal_under'] = best_under['under'].apply(convert_to_decimal)
best_under

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,decimal_under
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,2.080000
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,BetOnline,1096,223.0,-117.0,-103.0,210.0,1.970874
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0,1.909091
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0,1.909091
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0,1.943396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,27.0,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0,2.020000
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,27.0,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0,1.952381
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,27.0,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0,1.952381
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,25.0,44.0,0,5Dimes,19,216.5,-108.0,-102.0,193.0,1.980392
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,25.0,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0,1.952381

In [17]:
first_values = best_under.groupby('game_id')['total1'].transform('first')
best_under['difference'] = (best_under['total1'] - first_values)*2

best_under

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,decimal_under,difference
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,2.080000,0.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,49.0,0,BetOnline,1096,223.0,-117.0,-103.0,210.0,1.970874,1.0
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0,1.909091,2.0
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0,1.909091,3.0
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0,1.943396,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0,2.020000,0.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0,1.952381,1.0
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0,1.952381,2.0
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,44.0,0,5Dimes,19,216.5,-108.0,-102.0,193.0,1.980392,0.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0,1.952381,1.0

In [18]:

# Function to calculate the compound factor based on the difference
def calculate_compound_factor(difference):
    return (1 + 0.022) ** difference

# Calculate the difference with respect to the first value of "total_1" for each "game_id"
first_values = best_under.groupby('game_id')['total1'].transform('first')

# Calculate the compound factor and create a new column "difference2"
best_under['difference2'] = calculate_compound_factor(best_under['difference'])
best_under

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,decimal_under,difference,difference2
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,2.080000,0.0,1.000000
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,BetOnline,1096,223.0,-117.0,-103.0,210.0,1.970874,1.0,1.022000
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,5Dimes,19,223.5,-110.0,-110.0,210.0,1.909091,2.0,1.044484
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,Bookmaker,93,224.0,-110.0,-110.0,210.0,1.909091,3.0,1.067463
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0,1.943396,0.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0,2.020000,0.0,1.000000
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,5Dimes,19,216.0,-105.0,-105.0,212.0,1.952381,1.0,1.022000
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,Heritage,169,216.5,-105.0,-105.0,212.0,1.952381,2.0,1.044484
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0,5Dimes,19,216.5,-108.0,-102.0,193.0,1.980392,0.0,1.000000
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0,Heritage,169,217.0,-105.0,-105.0,193.0,1.952381,1.0,1.022000

In [19]:
#subtract d2 from over and make new column for comparing lines on equal footing
best_under['equal_lines'] = best_under['decimal_under'] * best_under['difference2']
best_under

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,book_name,book_id,total1,over,under,PTS_comb_actual,decimal_under,difference,difference2,equal_lines
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,2.080000,0.0,1.000000,2.080000
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,BetOnline,1096,223.0,-117.0,-103.0,210.0,1.970874,1.0,1.022000,2.014233
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,5Dimes,19,223.5,-110.0,-110.0,210.0,1.909091,2.0,1.044484,1.994015
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,Bookmaker,93,224.0,-110.0,-110.0,210.0,1.909091,3.0,1.067463,2.037883
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0,1.943396,0.0,1.000000,1.943396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,Pinnacle Sports,238,215.5,-113.0,102.0,212.0,2.020000,0.0,1.000000,2.020000
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,5Dimes,19,216.0,-105.0,-105.0,212.0,1.952381,1.0,1.022000,1.995333
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,Heritage,169,216.5,-105.0,-105.0,212.0,1.952381,2.0,1.044484,2.039231
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,5Dimes,19,216.5,-108.0,-102.0,193.0,1.980392,0.0,1.000000,1.980392
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,Heritage,169,217.0,-105.0,-105.0,193.0,1.952381,1.0,1.022000,1.995333

In [20]:
max_equal_lines = best_under.groupby('game_id')['equal_lines'].transform('max')

# Filter the DataFrame to keep only the rows with the maximum value in the "equal_lines" column for each "game_id"
unders = best_under[best_under['equal_lines'] == max_equal_lines]

unders

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,book_name,book_id,total1,over,under,PTS_comb_actual,decimal_under,difference,difference2,equal_lines
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,2.080000,0.0,1.000000,2.080000
7,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,Bookmaker,93,216.0,-118.0,-102.0,207.0,1.980392,3.0,1.067463,2.113995
9,2017-11-01,21700105,1610612766,1610612749,2017,126.0,0.536,0.759,0.560,21.0,...,Pinnacle Sports,238,203.0,-109.0,-101.0,247.0,1.990099,1.0,1.022000,2.033881
11,2017-11-01,21700106,1610612739,1610612754,2017,107.0,0.500,0.700,0.226,25.0,...,Pinnacle Sports,238,217.5,-107.0,-103.0,231.0,1.970874,1.0,1.022000,2.014233
14,2017-11-01,21700107,1610612755,1610612737,2017,119.0,0.465,0.560,0.371,36.0,...,5Dimes,19,209.0,-105.0,-105.0,228.0,1.952381,1.0,1.022000,1.995333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3258,2018-05-28,41700317,1610612745,1610612744,2017,92.0,0.400,0.591,0.159,17.0,...,Heritage,169,209.0,-105.0,-105.0,193.0,1.952381,2.0,1.044484,2.039231
3261,2018-05-31,41700401,1610612744,1610612739,2017,124.0,0.511,0.950,0.361,31.0,...,Heritage,169,218.0,-105.0,-105.0,238.0,1.952381,2.0,1.044484,2.039231
3264,2018-06-03,41700402,1610612744,1610612739,2017,122.0,0.573,0.619,0.417,28.0,...,Heritage,169,217.0,-105.0,-105.0,225.0,1.952381,2.0,1.044484,2.039231
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,Heritage,169,216.5,-105.0,-105.0,212.0,1.952381,2.0,1.044484,2.039231
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,Heritage,169,217.0,-105.0,-105.0,193.0,1.952381,1.0,1.022000,1.995333

In [21]:
unders = unders.sort_values(by='equal_lines', ascending=False)
unders

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,book_name,book_id,total1,over,under,PTS_comb_actual,decimal_under,difference,difference2,equal_lines
2853,2018-04-03,21701161,1610612745,1610612764,2017,120.0,0.512,0.667,0.348,26.0,...,Pinnacle Sports,238,216.5,-113.0,102.0,224.0,2.020000,5.0,1.114948,2.252194
1990,2018-02-12,21700842,1610612755,1610612752,2017,108.0,0.547,0.667,0.526,27.0,...,Pinnacle Sports,238,211.0,-116.0,105.0,200.0,2.050000,4.0,1.090947,2.236441
1773,2018-02-02,21700771,1610612749,1610612752,2017,92.0,0.434,0.731,0.292,18.0,...,Pinnacle Sports,238,209.0,-110.0,100.0,182.0,2.000000,4.0,1.090947,2.181894
2848,2018-04-03,21701159,1610612752,1610612753,2017,73.0,0.349,0.750,0.148,17.0,...,BetOnline,1096,209.0,-110.0,-110.0,170.0,1.909091,6.0,1.139477,2.175364
487,2017-11-25,21700285,1610612762,1610612749,2017,121.0,0.568,0.579,0.563,31.0,...,5Dimes,19,197.0,-108.0,-102.0,229.0,1.980392,4.0,1.090947,2.160503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1682,2018-01-29,21700738,1610612754,1610612766,2017,105.0,0.542,0.818,0.286,28.0,...,Pinnacle Sports,238,211.5,-105.0,-105.0,201.0,1.952381,0.0,1.000000,1.952381
2667,2018-03-24,21701089,1610612765,1610612741,2017,117.0,0.494,0.833,0.381,33.0,...,Pinnacle Sports,238,208.0,-105.0,-105.0,212.0,1.952381,0.0,1.000000,1.952381
101,2017-11-05,21700143,1610612750,1610612766,2017,112.0,0.458,0.867,0.417,20.0,...,5Dimes,19,218.0,-105.0,-105.0,206.0,1.952381,0.0,1.000000,1.952381
97,2017-11-05,21700141,1610612759,1610612756,2017,112.0,0.500,0.722,0.500,21.0,...,Heritage,169,211.5,-105.0,-105.0,207.0,1.952381,0.0,1.000000,1.952381
974,2017-12-22,21700472,1610612753,1610612740,2017,97.0,0.424,0.724,0.200,16.0,...,Bovada,999996,218.0,-115.0,-105.0,208.0,1.952381,0.0,1.000000,1.952381

In [22]:
columns_to_drop = ['difference', 'difference2', 'equal_lines', 'over', 'decimal_under']
unders = unders.drop(columns_to_drop, axis=1)
unders

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,under,PTS_comb_actual
2853,2018-04-03,21701161,1610612745,1610612764,2017,120.0,0.512,0.667,0.348,26.0,...,0.696,0.480,25.0,36.0,1,Pinnacle Sports,238,216.5,102.0,224.0
1990,2018-02-12,21700842,1610612755,1610612752,2017,108.0,0.547,0.667,0.526,27.0,...,0.857,0.250,16.0,33.0,1,Pinnacle Sports,238,211.0,105.0,200.0
1773,2018-02-02,21700771,1610612749,1610612752,2017,92.0,0.434,0.731,0.292,18.0,...,0.765,0.200,24.0,57.0,1,Pinnacle Sports,238,209.0,100.0,182.0
2848,2018-04-03,21701159,1610612752,1610612753,2017,73.0,0.349,0.750,0.148,17.0,...,0.667,0.306,28.0,53.0,0,BetOnline,1096,209.0,-110.0,170.0
487,2017-11-25,21700285,1610612762,1610612749,2017,121.0,0.568,0.579,0.563,31.0,...,0.783,0.381,19.0,40.0,1,5Dimes,19,197.0,-102.0,229.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1682,2018-01-29,21700738,1610612754,1610612766,2017,105.0,0.542,0.818,0.286,28.0,...,0.650,0.290,18.0,40.0,1,Pinnacle Sports,238,211.5,-105.0,201.0
2667,2018-03-24,21701089,1610612765,1610612741,2017,117.0,0.494,0.833,0.381,33.0,...,0.667,0.314,27.0,44.0,1,Pinnacle Sports,238,208.0,-105.0,212.0
101,2017-11-05,21700143,1610612750,1610612766,2017,112.0,0.458,0.867,0.417,20.0,...,0.524,0.321,24.0,40.0,1,5Dimes,19,218.0,-105.0,206.0
97,2017-11-05,21700141,1610612759,1610612756,2017,112.0,0.500,0.722,0.500,21.0,...,0.591,0.348,23.0,45.0,1,Heritage,169,211.5,-105.0,207.0
974,2017-12-22,21700472,1610612753,1610612740,2017,97.0,0.424,0.724,0.200,16.0,...,0.625,0.333,23.0,48.0,0,Bovada,999996,218.0,-105.0,208.0

In [23]:
column_mapping = {
    'book_name': 'book_name_under',
    'book_id': 'book_id_under',
    'total1': 'total1_under',
    'under': 'under_under',
}

# Rename only the specified columns by adding "_under" to each column name
unders.rename(columns=column_mapping, inplace=True)
unders

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name_under,book_id_under,total1_under,under_under,PTS_comb_actual
2853,2018-04-03,21701161,1610612745,1610612764,2017,120.0,0.512,0.667,0.348,26.0,...,0.696,0.480,25.0,36.0,1,Pinnacle Sports,238,216.5,102.0,224.0
1990,2018-02-12,21700842,1610612755,1610612752,2017,108.0,0.547,0.667,0.526,27.0,...,0.857,0.250,16.0,33.0,1,Pinnacle Sports,238,211.0,105.0,200.0
1773,2018-02-02,21700771,1610612749,1610612752,2017,92.0,0.434,0.731,0.292,18.0,...,0.765,0.200,24.0,57.0,1,Pinnacle Sports,238,209.0,100.0,182.0
2848,2018-04-03,21701159,1610612752,1610612753,2017,73.0,0.349,0.750,0.148,17.0,...,0.667,0.306,28.0,53.0,0,BetOnline,1096,209.0,-110.0,170.0
487,2017-11-25,21700285,1610612762,1610612749,2017,121.0,0.568,0.579,0.563,31.0,...,0.783,0.381,19.0,40.0,1,5Dimes,19,197.0,-102.0,229.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1682,2018-01-29,21700738,1610612754,1610612766,2017,105.0,0.542,0.818,0.286,28.0,...,0.650,0.290,18.0,40.0,1,Pinnacle Sports,238,211.5,-105.0,201.0
2667,2018-03-24,21701089,1610612765,1610612741,2017,117.0,0.494,0.833,0.381,33.0,...,0.667,0.314,27.0,44.0,1,Pinnacle Sports,238,208.0,-105.0,212.0
101,2017-11-05,21700143,1610612750,1610612766,2017,112.0,0.458,0.867,0.417,20.0,...,0.524,0.321,24.0,40.0,1,5Dimes,19,218.0,-105.0,206.0
97,2017-11-05,21700141,1610612759,1610612756,2017,112.0,0.500,0.722,0.500,21.0,...,0.591,0.348,23.0,45.0,1,Heritage,169,211.5,-105.0,207.0
974,2017-12-22,21700472,1610612753,1610612740,2017,97.0,0.424,0.724,0.200,16.0,...,0.625,0.333,23.0,48.0,0,Bovada,999996,218.0,-105.0,208.0

In [24]:
column_mapping = {
    'book_name': 'book_name_over',
    'book_id': 'book_id_over',
    'total1': 'total1_over',
    'over': 'over_over',
}

# Rename only the specified columns by adding "_over" to each column name
overs.rename(columns=column_mapping, inplace=True)
overs

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name_over,book_id_over,total1_over,over_over,PTS_comb_actual
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,1.000,0.368,25.0,44.0,0,Pinnacle Sports,238,216.5,-107.0,193.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.895,0.346,27.0,37.0,0,5Dimes,19,216.0,-105.0,212.0
3263,2018-06-03,41700402,1610612744,1610612739,2017,122.0,0.573,0.619,0.417,28.0,...,0.769,0.333,25.0,42.0,1,Pinnacle Sports,238,216.5,103.0,225.0
3259,2018-05-31,41700401,1610612744,1610612739,2017,124.0,0.511,0.950,0.361,31.0,...,0.727,0.270,18.0,53.0,1,Bovada,999996,217.0,-110.0,238.0
3256,2018-05-28,41700317,1610612745,1610612744,2017,92.0,0.400,0.591,0.159,17.0,...,0.500,0.410,25.0,42.0,0,5Dimes,19,208.0,-105.0,193.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14,2017-11-01,21700107,1610612755,1610612737,2017,119.0,0.465,0.560,0.371,36.0,...,0.704,0.348,22.0,49.0,1,Pinnacle Sports,238,209.0,-104.0,228.0
11,2017-11-01,21700106,1610612739,1610612754,2017,107.0,0.500,0.700,0.226,25.0,...,0.769,0.615,35.0,43.0,0,5Dimes,19,217.5,-105.0,231.0
9,2017-11-01,21700105,1610612766,1610612749,2017,126.0,0.536,0.759,0.560,21.0,...,0.800,0.528,29.0,40.0,1,Heritage,169,203.0,-105.0,247.0
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0.800,0.300,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,207.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.676,0.464,23.0,49.0,0,Intertops,180,223.0,-110.0,210.0

In [25]:
best_bets = pd.merge(overs, unders, on=['GAME_DATE_EST','game_id', 'home_team', 'away_team', 'SEASON', 'PTS_home', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home','REB_home', 'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS', 'PTS_comb_actual'], how='outer')
best_bets

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,HOME_TEAM_WINS,book_name_over,book_id_over,total1_over,over_over,PTS_comb_actual,book_name_under,book_id_under,total1_under,under_under
0,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0,Pinnacle Sports,238,216.5,-107.0,193.0,Heritage,169,217.0,-105.0
1,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,5Dimes,19,216.0,-105.0,212.0,Heritage,169,216.5,-105.0
2,2018-06-03,41700402,1610612744,1610612739,2017,122.0,0.573,0.619,0.417,28.0,...,1,Pinnacle Sports,238,216.5,103.0,225.0,Heritage,169,217.0,-105.0
3,2018-05-31,41700401,1610612744,1610612739,2017,124.0,0.511,0.950,0.361,31.0,...,1,Bovada,999996,217.0,-110.0,238.0,Heritage,169,218.0,-105.0
4,2018-05-28,41700317,1610612745,1610612744,2017,92.0,0.400,0.591,0.159,17.0,...,0,5Dimes,19,208.0,-105.0,193.0,Heritage,169,209.0,-105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,2017-11-01,21700107,1610612755,1610612737,2017,119.0,0.465,0.560,0.371,36.0,...,1,Pinnacle Sports,238,209.0,-104.0,228.0,5Dimes,19,209.0,-105.0
1206,2017-11-01,21700106,1610612739,1610612754,2017,107.0,0.500,0.700,0.226,25.0,...,0,5Dimes,19,217.5,-105.0,231.0,Pinnacle Sports,238,217.5,-103.0
1207,2017-11-01,21700105,1610612766,1610612749,2017,126.0,0.536,0.759,0.560,21.0,...,1,Heritage,169,203.0,-105.0,247.0,Pinnacle Sports,238,203.0,-101.0
1208,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0,Pinnacle Sports,238,214.5,-110.0,207.0,Bookmaker,93,216.0,-102.0
1209,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,Intertops,180,223.0,-110.0,210.0,Pinnacle Sports,238,222.5,108.0

In [26]:
column_mapping = {
    'over_over': 'over_odds',
    'under_under': 'under_odds',
}

best_bets.rename(columns=column_mapping, inplace=True)
best_bets

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,HOME_TEAM_WINS,book_name_over,book_id_over,total1_over,over_odds,PTS_comb_actual,book_name_under,book_id_under,total1_under,under_odds
0,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0,Pinnacle Sports,238,216.5,-107.0,193.0,Heritage,169,217.0,-105.0
1,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,5Dimes,19,216.0,-105.0,212.0,Heritage,169,216.5,-105.0
2,2018-06-03,41700402,1610612744,1610612739,2017,122.0,0.573,0.619,0.417,28.0,...,1,Pinnacle Sports,238,216.5,103.0,225.0,Heritage,169,217.0,-105.0
3,2018-05-31,41700401,1610612744,1610612739,2017,124.0,0.511,0.950,0.361,31.0,...,1,Bovada,999996,217.0,-110.0,238.0,Heritage,169,218.0,-105.0
4,2018-05-28,41700317,1610612745,1610612744,2017,92.0,0.400,0.591,0.159,17.0,...,0,5Dimes,19,208.0,-105.0,193.0,Heritage,169,209.0,-105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,2017-11-01,21700107,1610612755,1610612737,2017,119.0,0.465,0.560,0.371,36.0,...,1,Pinnacle Sports,238,209.0,-104.0,228.0,5Dimes,19,209.0,-105.0
1206,2017-11-01,21700106,1610612739,1610612754,2017,107.0,0.500,0.700,0.226,25.0,...,0,5Dimes,19,217.5,-105.0,231.0,Pinnacle Sports,238,217.5,-103.0
1207,2017-11-01,21700105,1610612766,1610612749,2017,126.0,0.536,0.759,0.560,21.0,...,1,Heritage,169,203.0,-105.0,247.0,Pinnacle Sports,238,203.0,-101.0
1208,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0,Pinnacle Sports,238,214.5,-110.0,207.0,Bookmaker,93,216.0,-102.0
1209,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,Intertops,180,223.0,-110.0,210.0,Pinnacle Sports,238,222.5,108.0

In [32]:
best_bets.sort_values(by='GAME_DATE_EST', ascending=True, inplace=True)
best_bets

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,HOME_TEAM_WINS,book_name_over,book_id_over,total1_over,over_odds,PTS_comb_actual,book_name_under,book_id_under,total1_under,under_odds
1209,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,Intertops,180,223.0,-110.0,210.0,Pinnacle Sports,238,222.5,108.0
1208,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0,Pinnacle Sports,238,214.5,-110.0,207.0,Bookmaker,93,216.0,-102.0
1201,2017-11-01,21700111,1610612752,1610612745,2017,97.0,0.433,0.846,0.308,23.0,...,0,5Dimes,19,214.0,-107.0,216.0,Pinnacle Sports,238,215.5,-102.0
1205,2017-11-01,21700107,1610612755,1610612737,2017,119.0,0.465,0.560,0.371,36.0,...,1,Pinnacle Sports,238,209.0,-104.0,228.0,5Dimes,19,209.0,-105.0
1204,2017-11-01,21700108,1610612764,1610612756,2017,116.0,0.446,0.800,0.333,20.0,...,0,Pinnacle Sports,238,227.5,-105.0,238.0,Heritage,169,228.0,-105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2018-05-28,41700317,1610612745,1610612744,2017,92.0,0.400,0.591,0.159,17.0,...,0,5Dimes,19,208.0,-105.0,193.0,Heritage,169,209.0,-105.0
3,2018-05-31,41700401,1610612744,1610612739,2017,124.0,0.511,0.950,0.361,31.0,...,1,Bovada,999996,217.0,-110.0,238.0,Heritage,169,218.0,-105.0
2,2018-06-03,41700402,1610612744,1610612739,2017,122.0,0.573,0.619,0.417,28.0,...,1,Pinnacle Sports,238,216.5,103.0,225.0,Heritage,169,217.0,-105.0
1,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,5Dimes,19,216.0,-105.0,212.0,Heritage,169,216.5,-105.0
0,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0,Pinnacle Sports,238,216.5,-107.0,193.0,Heritage,169,217.0,-105.0

In [28]:
best_bets.to_csv(r'C:\Users\redye\Desktop\NBACrit\best_bets.csv', index=False)

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\redye\\Desktop\\NBACrit\\best_bets.csv'

In [33]:
last10 = pd.read_csv(r'C:\Users\redye\Desktop\NBACrit\Last10Test.csv')

In [34]:
last10.sort_values(by='GAME_DATE_EST', ascending=True, inplace=True)
last10

,GAME_DATE_EST,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,PTS_away,point_total,point_average_last10,point_againts_average_last10,away_point_average_last10,away_point_againts_average_last10
1381,2017-09-30,1610612747,1610612750,2017,99.0,108.0,207.0,104.435540,111.298407,105.205303,105.693687
1380,2017-09-30,1610612744,1610612743,2017,102.0,108.0,210.0,116.226415,104.320755,111.176893,110.534142
1378,2017-10-01,1610612748,1610612737,2017,96.0,90.0,186.0,103.215909,101.812747,102.953014,103.322695
1379,2017-10-01,1610612761,1610612746,2017,121.0,113.0,234.0,105.528750,102.570833,106.798980,103.888963
1377,2017-10-02,1610612747,1610612743,2017,107.0,113.0,220.0,104.352683,111.290244,111.172238,110.442829
...,...,...,...,...,...,...,...,...,...,...,...
4,2018-05-28,1610612745,1610612744,2017,92.0,101.0,193.0,103.250000,102.750000,108.800000,104.200000
3,2018-05-31,1610612744,1610612739,2017,124.0,114.0,238.0,108.550000,102.500000,102.100000,100.900000
2,2018-06-03,1610612744,1610612739,2017,122.0,103.0,225.0,108.750000,101.900000,101.650000,101.650000
1,2018-06-06,1610612739,1610612744,2017,102.0,110.0,212.0,102.300000,103.150000,109.200000,102.450000
0,2018-06-08,1610612739,1610612744,2017,85.0,108.0,193.0,102.500000,103.150000,108.850000,102.550000

In [36]:
column_mapping = {
    'HOME_TEAM_ID': 'home_team',
    'VISITOR_TEAM_ID': 'away_team',
    'point_total': 'PTS_comb_actual'
}

last10.rename(columns=column_mapping, inplace=True)
last10

,GAME_DATE_EST,home_team,away_team,SEASON,PTS_home,PTS_away,PTS_comb_actual,point_average_last10,point_againts_average_last10,away_point_average_last10,away_point_againts_average_last10
1381,2017-09-30,1610612747,1610612750,2017,99.0,108.0,207.0,104.435540,111.298407,105.205303,105.693687
1380,2017-09-30,1610612744,1610612743,2017,102.0,108.0,210.0,116.226415,104.320755,111.176893,110.534142
1378,2017-10-01,1610612748,1610612737,2017,96.0,90.0,186.0,103.215909,101.812747,102.953014,103.322695
1379,2017-10-01,1610612761,1610612746,2017,121.0,113.0,234.0,105.528750,102.570833,106.798980,103.888963
1377,2017-10-02,1610612747,1610612743,2017,107.0,113.0,220.0,104.352683,111.290244,111.172238,110.442829
...,...,...,...,...,...,...,...,...,...,...,...
4,2018-05-28,1610612745,1610612744,2017,92.0,101.0,193.0,103.250000,102.750000,108.800000,104.200000
3,2018-05-31,1610612744,1610612739,2017,124.0,114.0,238.0,108.550000,102.500000,102.100000,100.900000
2,2018-06-03,1610612744,1610612739,2017,122.0,103.0,225.0,108.750000,101.900000,101.650000,101.650000
1,2018-06-06,1610612739,1610612744,2017,102.0,110.0,212.0,102.300000,103.150000,109.200000,102.450000
0,2018-06-08,1610612739,1610612744,2017,85.0,108.0,193.0,102.500000,103.150000,108.850000,102.550000

In [37]:
merged_df = pd.merge(best_bets, last10, on=['GAME_DATE_EST', 'home_team', 'away_team', 'SEASON', 'PTS_home', 'PTS_away', 'PTS_comb_actual'], how='left')
merged_df

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,over_odds,PTS_comb_actual,book_name_under,book_id_under,total1_under,under_odds,point_average_last10,point_againts_average_last10,away_point_average_last10,away_point_againts_average_last10
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,-110.0,210.0,Pinnacle Sports,238,222.5,108.0,116.226415,104.320755,111.176893,110.534142
1,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,-110.0,207.0,Bookmaker,93,216.0,-102.0,104.435540,111.298407,105.205303,105.693687
2,2017-11-01,21700111,1610612752,1610612745,2017,97.0,0.433,0.846,0.308,23.0,...,-107.0,216.0,Pinnacle Sports,238,215.5,-102.0,99.916667,107.183333,110.787037,104.050926
3,2017-11-01,21700107,1610612755,1610612737,2017,119.0,0.465,0.560,0.371,36.0,...,-104.0,228.0,5Dimes,19,209.0,-105.0,105.028571,107.771429,101.091912,104.283088
4,2017-11-01,21700108,1610612764,1610612756,2017,116.0,0.446,0.800,0.333,20.0,...,-105.0,238.0,Heritage,169,228.0,-105.0,109.972222,104.277778,105.366667,115.866667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,2018-05-28,41700317,1610612745,1610612744,2017,92.0,0.400,0.591,0.159,17.0,...,-105.0,193.0,Heritage,169,209.0,-105.0,103.250000,102.750000,108.800000,104.200000
1206,2018-05-31,41700401,1610612744,1610612739,2017,124.0,0.511,0.950,0.361,31.0,...,-110.0,238.0,Heritage,169,218.0,-105.0,108.550000,102.500000,102.100000,100.900000
1207,2018-06-03,41700402,1610612744,1610612739,2017,122.0,0.573,0.619,0.417,28.0,...,103.0,225.0,Heritage,169,217.0,-105.0,108.750000,101.900000,101.650000,101.650000
1208,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,-105.0,212.0,Heritage,169,216.5,-105.0,102.300000,103.150000,109.200000,102.450000
1209,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,-107.0,193.0,Heritage,169,217.0,-105.0,102.500000,103.150000,108.850000,102.550000

In [39]:
merged_df.to_csv(r'C:\Users\redye\Desktop\NBACrit\merged_df.csv', index=False)

In [4]:
merged_df = pd.read_csv(r"C:\Users\redye\Desktop\NBACrit\merged_df.csv")

In [8]:
merged_df['avgpointtotal_home'] = merged_df['point_average_last10'] + merged_df['point_against_average_last10']
merged_df['avgpointtotal_away'] = merged_df['away_point_average_last10'] + merged_df['away_point_against_average_last10']
merged_df.head()

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,book_name_under,book_id_under,total1_under,under_odds,point_average_last10,point_against_average_last10,away_point_average_last10,away_point_against_average_last10,avgpointtotal_home,avgpointtotal_away
0,9/30/2017,11700001,1610612744,1610612743,2017,102,0.411,0.833,0.121,17,...,Pinnacle Sports,238,222.5,108,116.226415,104.320755,111.176893,110.534142,220.547170,221.711034
1,9/30/2017,11700002,1610612747,1610612750,2017,99,0.441,0.706,0.167,27,...,Bookmaker,93,216.0,-102,104.435540,111.298407,105.205303,105.693687,215.733947,210.898990
2,11/1/2017,21700111,1610612752,1610612745,2017,97,0.433,0.846,0.308,23,...,Pinnacle Sports,238,215.5,-102,99.916667,107.183333,110.787037,104.050926,207.100000,214.837963
3,11/1/2017,21700107,1610612755,1610612737,2017,119,0.465,0.560,0.371,36,...,5Dimes,19,209.0,-105,105.028571,107.771429,101.091912,104.283088,212.800000,205.375000
4,11/1/2017,21700108,1610612764,1610612756,2017,116,0.446,0.800,0.333,20,...,Heritage,169,228.0,-105,109.972222,104.277778,105.366667,115.866667,214.250000,221.233333

In [9]:
merged_df['meanpointtotal'] = (merged_df['avgpointtotal_away'] + merged_df['avgpointtotal_home']) / 2
merged_df['diff'] = merged_df['avgpointtotal_home'] - merged_df['avgpointtotal_away']
merged_df.head()

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,total1_under,under_odds,point_average_last10,point_against_average_last10,away_point_average_last10,away_point_against_average_last10,avgpointtotal_home,avgpointtotal_away,meanpointtotal,diff
0,9/30/2017,11700001,1610612744,1610612743,2017,102,0.411,0.833,0.121,17,...,222.5,108,116.226415,104.320755,111.176893,110.534142,220.547170,221.711034,221.129102,-1.163864
1,9/30/2017,11700002,1610612747,1610612750,2017,99,0.441,0.706,0.167,27,...,216.0,-102,104.435540,111.298407,105.205303,105.693687,215.733947,210.898990,213.316469,4.834957
2,11/1/2017,21700111,1610612752,1610612745,2017,97,0.433,0.846,0.308,23,...,215.5,-102,99.916667,107.183333,110.787037,104.050926,207.100000,214.837963,210.968981,-7.737963
3,11/1/2017,21700107,1610612755,1610612737,2017,119,0.465,0.560,0.371,36,...,209.0,-105,105.028571,107.771429,101.091912,104.283088,212.800000,205.375000,209.087500,7.425000
4,11/1/2017,21700108,1610612764,1610612756,2017,116,0.446,0.800,0.333,20,...,228.0,-105,109.972222,104.277778,105.366667,115.866667,214.250000,221.233333,217.741667,-6.983333

In [11]:
merged_df['diff'].describe()

count    1210.000000
mean       -0.102057
std        10.513455
min       -30.471429
25%        -7.550000
50%        -0.300000
75%         7.150000
max        30.000000
Name: diff, dtype: float64

In [12]:
merged_df.to_csv(r'C:\Users\redye\Desktop\NBACrit\final_df.csv', index=False)

,game_id,SEASON,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,...,total1_under,under_odds,point_average_last10,point_against_average_last10,away_point_average_last10,away_point_against_average_last10,avgpointtotal_home,avgpointtotal_away,meanpointtotal,diff
0,11700001,2017,0.411,0.833,0.121,17,53,0.444,0.676,0.464,...,222.5,108,116.226415,104.320755,111.176893,110.534142,220.547170,221.711034,221.129102,-1.163864
1,11700002,2017,0.441,0.706,0.167,27,48,0.416,0.800,0.300,...,216.0,-102,104.435540,111.298407,105.205303,105.693687,215.733947,210.898990,213.316469,4.834957
2,21700111,2017,0.433,0.846,0.308,23,42,0.477,0.762,0.365,...,215.5,-102,99.916667,107.183333,110.787037,104.050926,207.100000,214.837963,210.968981,-7.737963
3,21700107,2017,0.465,0.560,0.371,36,53,0.436,0.704,0.348,...,209.0,-105,105.028571,107.771429,101.091912,104.283088,212.800000,205.375000,209.087500,7.425000
4,21700108,2017,0.446,0.800,0.333,20,45,0.494,0.816,0.375,...,228.0,-105,109.972222,104.277778,105.366667,115.866667,214.250000,221.233333,217.741667,-6.983333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,41700317,2017,0.400,0.591,0.159,17,44,0.488,0.500,0.410,...,209.0,-105,103.250000,102.750000,108.800000,104.200000,206.000000,213.000000,209.500000,-7.000000
1206,41700401,2017,0.511,0.950,0.361,31,38,0.444,0.727,0.270,...,218.0,-105,108.550000,102.500000,102.100000,100.900000,211.050000,203.000000,207.025000,8.050000
1207,41700402,2017,0.573,0.619,0.417,28,41,0.411,0.769,0.333,...,217.0,-105,108.750000,101.900000,101.650000,101.650000,210.650000,203.300000,206.975000,7.350000
1208,41700403,2017,0.435,0.765,0.290,20,47,0.519,0.895,0.346,...,216.5,-105,102.300000,103.150000,109.200000,102.450000,205.450000,211.650000,208.550000,-6.200000
1209,41700404,2017,0.345,0.680,0.296,21,44,0.453,1.000,0.368,...,217.0,-105,102.500000,103.150000,108.850000,102.550000,205.650000,211.400000,208.525000,-5.750000

In [19]:
X_full = X_full.drop(columns =[
    "home_team","away_team", "PTS_home", "PTS_away","GAME_DATE_EST", "book_name_over", "book_name_under"], axis=1)
X_full

KeyError: "['home_team', 'away_team', 'PTS_home', 'PTS_away', 'GAME_DATE_EST', 'book_name_over', 'book_name_under'] not found in axis"