In [1]:
import pandas as pd 

data = pd.read_csv(r"C:\Users\redye\Desktop\NBACrit\final_df.csv")

# Calculating the difference between the line and outcome 
data["error"] = data["PTS_comb_actual"] - data["total1_under"]

# Making the error the absolute value
data["error"] = data.error.abs()

# Calculating mean absolute error between the lines and outcome 
n = len(data)
total_error = data.error.sum()
mae_lines = total_error / n

print ("MAE over last 10 years",mae_lines)

MAE over last 10 years 14.34793388429752

In [2]:
# Calculating the difference between the line and outcome 
data["error"] = data["PTS_comb_actual"] - data["total1_over"]

# Making the error the absolute value
data["error"] = data.error.abs()

# Calculating mean absolute error between the lines and outcome 
n = len(data)
total_error = data.error.sum()
mae_lines = total_error / n

print ("MAE over last 10 years",mae_lines)

MAE over last 10 years 14.323966942148761

In [3]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
from sklearn import preprocessing 

# Read the data
X_full = pd.read_csv(r"C:\Users\redye\Desktop\NBACrit\final_df.csv")
X_full["GAME_DATE_EST"] = pd.to_datetime(X_full["GAME_DATE_EST"],infer_datetime_format=True)
X_full = X_full.sort_values(by=["GAME_DATE_EST"], ascending=False)
X_full = X_full.reset_index()



# Label / One-Hot encoding team IDs and season
le = preprocessing.OneHotEncoder()
le2 = preprocessing.LabelEncoder()
ohe_home = le.fit_transform(X_full[["home_team"]]).toarray()
ohe_away = le.transform(X_full[["away_team"]]).toarray()

# Drop old columns
X_full = X_full.drop(columns =[
    "home_team","away_team", "PTS_home", "PTS_away","GAME_DATE_EST","index",], axis=1)

In [4]:
X_full.head()

,game_id,SEASON,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,...,total1_under,under_odds,point_average_last10,point_against_average_last10,away_point_average_last10,away_point_against_average_last10,avgpointtotal_home,avgpointtotal_away,meanpointtotal,diff
0,41700404,2017,0.345,0.680,0.296,21,44,0.453,1.000,0.368,...,217.0,-105,102.50,103.15,108.85,102.55,205.65,211.40,208.525,-5.75
1,41700403,2017,0.435,0.765,0.290,20,47,0.519,0.895,0.346,...,216.5,-105,102.30,103.15,109.20,102.45,205.45,211.65,208.550,-6.20
2,41700402,2017,0.573,0.619,0.417,28,41,0.411,0.769,0.333,...,217.0,-105,108.75,101.90,101.65,101.65,210.65,203.30,206.975,7.35
3,41700401,2017,0.511,0.950,0.361,31,38,0.444,0.727,0.270,...,218.0,-105,108.55,102.50,102.10,100.90,211.05,203.00,207.025,8.05
4,41700317,2017,0.400,0.591,0.159,17,44,0.488,0.500,0.410,...,209.0,-105,103.25,102.75,108.80,104.20,206.00,213.00,209.500,-7.00

In [5]:
# Testing features:
X_full["diff"] = X_full["avgpointtotal_home"] - X_full["avgpointtotal_away"]
#X_full["diff"] = X_full["diff"]**2
#X_full["diff"] = X_full["diff"].abs()
#X_full["multi"] = X_full.apply(lambda row: row.avgpointtotal_home / row.avgpointtotal_away, axis=1)

#X_full["off_power_home"] = X_full["point_average_last10"] - X_full["away_point_againts_average_last10"]
#X_full["off_power_away"] = X_full["away_point_average_last10"] - X_full["point_againts_average_last10"]
#X_full["gap"] = X_full["off_power_home"].abs() + X_full["off_power_away"].abs()

In [6]:
X_full.head(5)

,game_id,SEASON,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,...,total1_under,under_odds,point_average_last10,point_against_average_last10,away_point_average_last10,away_point_against_average_last10,avgpointtotal_home,avgpointtotal_away,meanpointtotal,diff
0,41700404,2017,0.345,0.680,0.296,21,44,0.453,1.000,0.368,...,217.0,-105,102.50,103.15,108.85,102.55,205.65,211.40,208.525,-5.75
1,41700403,2017,0.435,0.765,0.290,20,47,0.519,0.895,0.346,...,216.5,-105,102.30,103.15,109.20,102.45,205.45,211.65,208.550,-6.20
2,41700402,2017,0.573,0.619,0.417,28,41,0.411,0.769,0.333,...,217.0,-105,108.75,101.90,101.65,101.65,210.65,203.30,206.975,7.35
3,41700401,2017,0.511,0.950,0.361,31,38,0.444,0.727,0.270,...,218.0,-105,108.55,102.50,102.10,100.90,211.05,203.00,207.025,8.05
4,41700317,2017,0.400,0.591,0.159,17,44,0.488,0.500,0.410,...,209.0,-105,103.25,102.75,108.80,104.20,206.00,213.00,209.500,-7.00

In [7]:
X_full.describe()

,game_id,SEASON,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,...,total1_under,under_odds,point_average_last10,point_against_average_last10,away_point_average_last10,away_point_against_average_last10,avgpointtotal_home,avgpointtotal_away,meanpointtotal,diff
count,1.210000e+03,1210.0,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,...,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000
mean,2.303948e+07,2017.0,0.466827,0.769437,0.361780,23.776860,44.044628,0.456446,0.767292,0.359893,...,212.794215,-93.666942,106.315115,105.992114,106.311810,106.097475,212.307229,212.409285,212.358257,-0.102057
std,5.049766e+06,0.0,0.054795,0.101459,0.090891,5.268455,6.208108,0.054067,0.107820,0.090571,...,8.621067,46.798556,4.719096,4.347759,4.834030,4.428097,7.361346,7.615930,5.335047,10.513455
min,1.170000e+07,2017.0,0.303000,0.143000,0.056000,11.000000,28.000000,0.288000,0.375000,0.077000,...,190.000000,-115.000000,93.166667,93.850000,92.855556,93.562500,195.250000,196.000000,197.116667,-30.471429
25%,2.170041e+07,2017.0,0.429000,0.706000,0.300000,20.000000,40.000000,0.419250,0.700000,0.296000,...,207.000000,-105.000000,102.710714,102.962500,102.800000,103.150000,206.912500,206.900000,208.675000,-7.550000
50%,2.170071e+07,2017.0,0.463000,0.774000,0.360000,23.000000,44.000000,0.456500,0.776000,0.360000,...,212.500000,-105.000000,105.850000,106.000000,106.000000,106.025000,212.250000,212.568750,212.244048,-0.300000
75%,2.170101e+07,2017.0,0.505000,0.833000,0.422500,27.000000,48.000000,0.489000,0.841500,0.422000,...,218.000000,-103.000000,109.700000,108.850000,109.600000,109.000000,217.587500,217.700000,215.962500,7.150000
max,4.170040e+07,2017.0,0.639000,1.000000,0.667000,40.000000,64.000000,0.632000,1.000000,0.714000,...,238.500000,109.000000,119.942857,118.600000,120.342857,119.800000,233.200000,233.050000,228.275000,30.000000

In [8]:
X_full.PTS_comb_actual.describe()

count    1210.000000
mean      212.633884
std        19.499673
min       158.000000
25%       199.000000
50%       212.000000
75%       226.000000
max       290.000000
Name: PTS_comb_actual, dtype: float64

In [9]:
ohe_home_df = pd.DataFrame(ohe_home)
ohe_away_df = pd.DataFrame(ohe_away, columns=list("abcdefghijklmnopqrstuvwxyzABCD"))
X_full = pd.concat([X_full,ohe_home_df], axis=1)
X_full = pd.concat([X_full,ohe_away_df], axis=1)
print(X_full.shape)

(1210, 90)

In [10]:
X_full.head(5)

,game_id,SEASON,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,...,u,v,w,x,y,z,A,B,C,D
0,41700404,2017,0.345,0.680,0.296,21,44,0.453,1.000,0.368,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,41700403,2017,0.435,0.765,0.290,20,47,0.519,0.895,0.346,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,41700402,2017,0.573,0.619,0.417,28,41,0.411,0.769,0.333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,41700401,2017,0.511,0.950,0.361,31,38,0.444,0.727,0.270,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,41700317,2017,0.400,0.591,0.159,17,44,0.488,0.500,0.410,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
y = X_full["PTS_comb_actual"]
X_full = X_full.drop(columns=['PTS_comb_actual'])

test = len(X_full) - int(len(X_full)*0.9)

X_train = X_full.iloc[test:]
X_valid = X_full.iloc[:test]
y_train = y.iloc[test:]
y_valid = y.iloc[:test]

In [12]:
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_absolute_error

EN = ElasticNet().fit(X_train,y_train)

pred_EN = EN.predict(X_valid)
mae_EN = mean_absolute_error(pred_EN, y_valid)
print ("mae",mae_EN)

ValueError: could not convert string to float: 'YouWager'