In [1]:
import pandas as pd

In [2]:
best_over = pd.read_csv(r'C:\Users\redye\Desktop\NBACrit\best_over.csv')

In [3]:
best_over

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Intertops,180,223.0,-110.0,-110.0,210.0
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0.300,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,Pinnacle Sports,238,216.5,-107.0,-103.0,193.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0

In [4]:
first_values = best_over.groupby('game_id')['total1'].transform('first')
best_over['difference'] = best_over['total1'] - first_values

best_over

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,difference
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,0.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,Intertops,180,223.0,-110.0,-110.0,210.0,0.5
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0,1.0
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0,1.5
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,27.0,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0,0.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,27.0,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0,0.5
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,27.0,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0,1.0
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,25.0,44.0,0,Pinnacle Sports,238,216.5,-107.0,-103.0,193.0,0.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,25.0,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0,0.5

In [5]:
best_over['game_id'].nunique()

1210

In [6]:
first_values

0       222.5
1       222.5
2       222.5
3       222.5
4       214.5
        ...
3265    215.5
3266    215.5
3267    215.5
3268    216.5
3269    216.5
Name: total1, Length: 3270, dtype: float64

In [7]:
#each half point is worth 5.1 cents so multiple diff by 10.2 so that each .5 diff becomes 5, and then add/subtract from real line
best_over['difference2'] = best_over['difference'] * 10.2
best_over

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,difference,difference2
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,0.0,0.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,49.0,0,Intertops,180,223.0,-110.0,-110.0,210.0,0.5,5.1
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0,1.0,10.2
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0,1.5,15.3
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0,0.0,0.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0,0.5,5.1
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0,1.0,10.2
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,44.0,0,Pinnacle Sports,238,216.5,-107.0,-103.0,193.0,0.0,0.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0,0.5,5.1

In [8]:
#subtract d2 from over and make new column for comparing lines on equal footing
best_over['equal_lines'] = best_over['over'] - best_over['difference2']
best_over

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,difference,difference2,equal_lines
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,0.0,0.0,-126.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,Intertops,180,223.0,-110.0,-110.0,210.0,0.5,5.1,-115.1
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,5Dimes,19,223.5,-110.0,-110.0,210.0,1.0,10.2,-120.2
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,Bookmaker,93,224.0,-110.0,-110.0,210.0,1.5,15.3,-125.3
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0,0.0,0.0,-110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0,0.0,0.0,-113.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,5Dimes,19,216.0,-105.0,-105.0,212.0,0.5,5.1,-110.1
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,Heritage,169,216.5,-105.0,-105.0,212.0,1.0,10.2,-115.2
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0,Pinnacle Sports,238,216.5,-107.0,-103.0,193.0,0.0,0.0,-107.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0,Heritage,169,217.0,-105.0,-105.0,193.0,0.5,5.1,-110.1

In [9]:
max_equal_lines = best_over.groupby('game_id')['equal_lines'].transform('max')

# Filter the DataFrame to keep only the rows with the maximum value in the "equal_lines" column for each "game_id"
overs = best_over[best_over['equal_lines'] == max_equal_lines]

overs

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,difference,difference2,equal_lines
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,Intertops,180,223.0,-110.0,-110.0,210.0,0.5,5.1,-115.1
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0,0.0,0.0,-110.0
8,2017-11-01,21700105,1610612766,1610612749,2017,126.0,0.536,0.759,0.560,21.0,...,1,YouWager,139,202.5,-110.0,-110.0,247.0,0.0,0.0,-110.0
10,2017-11-01,21700106,1610612739,1610612754,2017,107.0,0.500,0.700,0.226,25.0,...,0,Bookmaker,93,217.0,-110.0,-110.0,231.0,0.0,0.0,-110.0
14,2017-11-01,21700107,1610612755,1610612737,2017,119.0,0.465,0.560,0.371,36.0,...,1,Pinnacle Sports,238,209.0,-104.0,-106.0,228.0,0.5,5.1,-109.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,2018-05-28,41700317,1610612745,1610612744,2017,92.0,0.400,0.591,0.159,17.0,...,0,5Dimes,19,208.0,-105.0,-105.0,193.0,0.0,0.0,-105.0
3259,2018-05-31,41700401,1610612744,1610612739,2017,124.0,0.511,0.950,0.361,31.0,...,1,Bovada,999996,217.0,-110.0,-110.0,238.0,0.0,0.0,-110.0
3263,2018-06-03,41700402,1610612744,1610612739,2017,122.0,0.573,0.619,0.417,28.0,...,1,Pinnacle Sports,238,216.5,103.0,-114.0,225.0,0.5,5.1,97.9
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,5Dimes,19,216.0,-105.0,-105.0,212.0,0.5,5.1,-110.1
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0,Pinnacle Sports,238,216.5,-107.0,-103.0,193.0,0.0,0.0,-107.0

In [10]:
overs['game_id'].nunique()

1210

In [11]:
columns_to_drop = ['difference', 'difference2', 'equal_lines', 'under']
overs = overs.drop(columns_to_drop, axis=1)
overs

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,PTS_comb_actual
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.676,0.464,23.0,49.0,0,Intertops,180,223.0,-110.0,210.0
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0.800,0.300,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,207.0
8,2017-11-01,21700105,1610612766,1610612749,2017,126.0,0.536,0.759,0.560,21.0,...,0.800,0.528,29.0,40.0,1,YouWager,139,202.5,-110.0,247.0
10,2017-11-01,21700106,1610612739,1610612754,2017,107.0,0.500,0.700,0.226,25.0,...,0.769,0.615,35.0,43.0,0,Bookmaker,93,217.0,-110.0,231.0
14,2017-11-01,21700107,1610612755,1610612737,2017,119.0,0.465,0.560,0.371,36.0,...,0.704,0.348,22.0,49.0,1,Pinnacle Sports,238,209.0,-104.0,228.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,2018-05-28,41700317,1610612745,1610612744,2017,92.0,0.400,0.591,0.159,17.0,...,0.500,0.410,25.0,42.0,0,5Dimes,19,208.0,-105.0,193.0
3259,2018-05-31,41700401,1610612744,1610612739,2017,124.0,0.511,0.950,0.361,31.0,...,0.727,0.270,18.0,53.0,1,Bovada,999996,217.0,-110.0,238.0
3263,2018-06-03,41700402,1610612744,1610612739,2017,122.0,0.573,0.619,0.417,28.0,...,0.769,0.333,25.0,42.0,1,Pinnacle Sports,238,216.5,103.0,225.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.895,0.346,27.0,37.0,0,5Dimes,19,216.0,-105.0,212.0
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,1.000,0.368,25.0,44.0,0,Pinnacle Sports,238,216.5,-107.0,193.0

In [12]:
best_under = pd.read_csv(r'C:\Users\redye\Desktop\NBACrit\best_under.csv')
best_under

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,BetOnline,1096,223.0,-117.0,-103.0,210.0
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0.300,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,5Dimes,19,216.5,-108.0,-102.0,193.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0

In [14]:
first_values = best_under.groupby('game_id')['total1'].transform('first')
best_under['difference'] = best_under['total1'] - first_values

best_under

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,difference
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,0.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,BetOnline,1096,223.0,-117.0,-103.0,210.0,0.5
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0,1.0
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,23.0,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0,1.5
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,27.0,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0,0.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,27.0,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0,0.5
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,27.0,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0,1.0
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,25.0,44.0,0,5Dimes,19,216.5,-108.0,-102.0,193.0,0.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,25.0,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0,0.5

In [15]:
best_under['difference2'] = best_under['difference'] * 10.2
best_under

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,difference,difference2
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,0.0,0.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,49.0,0,BetOnline,1096,223.0,-117.0,-103.0,210.0,0.5,5.1
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0,1.0,10.2
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0,1.5,15.3
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0,0.0,0.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0,0.5,5.1
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0,1.0,10.2
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,44.0,0,5Dimes,19,216.5,-108.0,-102.0,193.0,0.0,0.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0,0.5,5.1

In [17]:
#subtract d2 from over and make new column for comparing lines on equal footing
best_under['equal_lines'] = best_under['under'] + best_under['difference2']
best_under

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,difference,difference2,equal_lines
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,0.0,0.0,108.0
1,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,BetOnline,1096,223.0,-117.0,-103.0,210.0,0.5,5.1,-97.9
2,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,5Dimes,19,223.5,-110.0,-110.0,210.0,1.0,10.2,-99.8
3,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,Bookmaker,93,224.0,-110.0,-110.0,210.0,1.5,15.3,-94.7
4,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0,0.0,0.0,-106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0,0.0,0.0,102.0
3266,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,5Dimes,19,216.0,-105.0,-105.0,212.0,0.5,5.1,-99.9
3267,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,Heritage,169,216.5,-105.0,-105.0,212.0,1.0,10.2,-94.8
3268,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0,5Dimes,19,216.5,-108.0,-102.0,193.0,0.0,0.0,-102.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0,Heritage,169,217.0,-105.0,-105.0,193.0,0.5,5.1,-99.9

In [18]:
max_equal_lines = best_under.groupby('game_id')['equal_lines'].transform('max')

# Filter the DataFrame to keep only the rows with the maximum value in the "equal_lines" column for each "game_id"
unders = best_under[best_under['equal_lines'] == max_equal_lines]

unders

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,difference,difference2,equal_lines
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,0.0,0.0,108.0
7,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0,Bookmaker,93,216.0,-118.0,-102.0,207.0,1.5,15.3,-86.7
9,2017-11-01,21700105,1610612766,1610612749,2017,126.0,0.536,0.759,0.560,21.0,...,1,Pinnacle Sports,238,203.0,-109.0,-101.0,247.0,0.5,5.1,-95.9
11,2017-11-01,21700106,1610612739,1610612754,2017,107.0,0.500,0.700,0.226,25.0,...,0,Pinnacle Sports,238,217.5,-107.0,-103.0,231.0,0.5,5.1,-97.9
14,2017-11-01,21700107,1610612755,1610612737,2017,119.0,0.465,0.560,0.371,36.0,...,1,5Dimes,19,209.0,-105.0,-105.0,228.0,0.5,5.1,-99.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3258,2018-05-28,41700317,1610612745,1610612744,2017,92.0,0.400,0.591,0.159,17.0,...,0,Heritage,169,209.0,-105.0,-105.0,193.0,1.0,10.2,-94.8
3261,2018-05-31,41700401,1610612744,1610612739,2017,124.0,0.511,0.950,0.361,31.0,...,1,Heritage,169,218.0,-105.0,-105.0,238.0,1.0,10.2,-94.8
3264,2018-06-03,41700402,1610612744,1610612739,2017,122.0,0.573,0.619,0.417,28.0,...,1,Heritage,169,217.0,-105.0,-105.0,225.0,1.0,10.2,-94.8
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0,0.0,0.0,102.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0,Heritage,169,217.0,-105.0,-105.0,193.0,0.5,5.1,-99.9

In [19]:
columns_to_drop = ['difference', 'difference2', 'equal_lines', 'over']
unders_ = unders.drop(columns_to_drop, axis=1)
unders

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual,difference,difference2,equal_lines
0,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0,0.0,0.0,108.0
7,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0,Bookmaker,93,216.0,-118.0,-102.0,207.0,1.5,15.3,-86.7
9,2017-11-01,21700105,1610612766,1610612749,2017,126.0,0.536,0.759,0.560,21.0,...,1,Pinnacle Sports,238,203.0,-109.0,-101.0,247.0,0.5,5.1,-95.9
11,2017-11-01,21700106,1610612739,1610612754,2017,107.0,0.500,0.700,0.226,25.0,...,0,Pinnacle Sports,238,217.5,-107.0,-103.0,231.0,0.5,5.1,-97.9
14,2017-11-01,21700107,1610612755,1610612737,2017,119.0,0.465,0.560,0.371,36.0,...,1,5Dimes,19,209.0,-105.0,-105.0,228.0,0.5,5.1,-99.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3258,2018-05-28,41700317,1610612745,1610612744,2017,92.0,0.400,0.591,0.159,17.0,...,0,Heritage,169,209.0,-105.0,-105.0,193.0,1.0,10.2,-94.8
3261,2018-05-31,41700401,1610612744,1610612739,2017,124.0,0.511,0.950,0.361,31.0,...,1,Heritage,169,218.0,-105.0,-105.0,238.0,1.0,10.2,-94.8
3264,2018-06-03,41700402,1610612744,1610612739,2017,122.0,0.573,0.619,0.417,28.0,...,1,Heritage,169,217.0,-105.0,-105.0,225.0,1.0,10.2,-94.8
3265,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0,0.0,0.0,102.0
3269,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0,Heritage,169,217.0,-105.0,-105.0,193.0,0.5,5.1,-99.9